# **자료구조**
    데이터의 집합
    데이터가 들어가 있는 바구니
    변수에 저장할 수 있는 데이터의 집합

    리스트, 딕셔너리, 튜플

## **1. 리스트(list)**
    파이썬에서 가장 흔히 사용하는 데이터의 자료구조
    순서가 있다.
    [ ] 대괄호로 묶어 사용한다.
    리스트 안에 들어가는 요소들은 ,(쉼표)로 구분한다.

### 1-1. list의 생성

In [2]:
empty_list = list() # 혹은 아래와 같이 간단하게 생성도 가능
empty_list =[]

In [3]:
# wallet 이라는 변수에 아래의 5개 텍스트 데이터가 들어가 있는 리스트를 저장
# 'coin', 'card', 'cash', 'id', 'licence'

wallet = ['coin', 'card', 'cash', 'id', 'licence']

In [4]:
wallet

['coin', 'card', 'cash', 'id', 'licence']

In [5]:
test_list =[1, 2, 3.14, '테스트', wallet]

### 1-2. list 정보 확인

In [6]:
# 리스트 전체 항목의 갯수를 보고싶다면?
len(test_list)

5

In [47]:
# 리스트 내 특정 항목의 갯수를 확인하고 싶다면?
temp_list = [1, 1, 1, 2, 2, 2, 3, 3, 4, 10]
temp_list.count(1)

3

In [8]:
# 최대 최소 값
test_list2= [1,23,24,4,235,2351]
max(test_list2) , min(test_list2)

(2351, 1)

### 1-3. list indexing(인덱싱), slicing(슬라이싱)
    리스트의 특정 항목을 확인하는 방법
    인덱싱은 하나, 슬라이싱은 여러개
    리스트의 순서를 인덱스라고 하며 0부터 시작

In [9]:
# 인덱싱
# 리스트의 4번째 항목 가져오기
print(test_list2[3])

4

In [10]:
# 슬라이싱
# 리스트의 첫번째 항목부터 3번째 항목까지 가져오기
test_list2[0:3]

[1, 23, 24]

In [11]:
# 리스트의 4번째 항목부터 마지막 항목까지 가져오기
test_list2[3:]

[4, 235, 2351]

In [44]:
# 리스트의 맨 마지막 항목 가져오기
print(test_list2[-1])
print(test_list2[-2])

2351
235

In [13]:
# 리스트의 전체 항목 중 2의 배수 인덱스 항목가져오기
test_list2[::2]

[1, 24, 235]

In [14]:
# 리스트 내 특정항목의 인덱스 가져오기
test_list2.index(4)

3

In [15]:
# test_list 의 cash를 인덱싱 해보자
test_list[4][2]

'cash'

### 1-4. list 편집

In [48]:
# 리스트에 항목추가
test_list2.append(1213)
print(test_list2)

[1, 23, 24, 4, 235, 2351, 1213]

In [49]:
# 리스트에 특정 항목 삭제
del test_list2[2]
print(test_list2)

[1, 23, 4, 235, 2351, 1213]

In [52]:
# 리스트의 맨 마지막 항목 꺼내오기 (값도 꺼내면서 리스트의 마지막 항목 삭제)
print(test_list2[-1])
del test_list2[-1]
print(test_list2)

1213
[1, 23, 4, 235, 2351]

In [54]:
# 리스트의 값 정렬 (숫자는 오름차순, 문자는 알파벳순, 한글은 가나다순)

# 역순은?
print(test_list2)
test_list2.sort(reverse = True)
print(test_list2)

[1, 4, 23, 235, 2351]
[2351, 235, 23, 4, 1]

In [56]:
# 리스트 내 특정항목 업데이트
test_list2[1] = 0
print(test_list2)

[2351, 0, 23, 4, 1]

### 1-5. list 연산

In [57]:
# int형 데이터가 들어가 있는 num1, num2 리스트 생성
num1 = [1, 2, 3]
num2 = [4, 3, 19]

In [68]:
# 리스트 합
sum_num = []

for i in range(len(num1)):
    print(num1[i], num2[i])
    sum_num.append(num1[i] + num2[i])

print(sum_num)

1 4
2 3
3 19
[5, 5, 22]

In [70]:
# 리스트 곱

mul_num = []

for i in range(len(num1)):
    mul_num.append(num1[i] * num2[i])

print(mul_num)

[4, 6, 57]

In [24]:
# 검증

### 1-6. list 삭제

In [72]:
# clear 함수를 사용하여 list 안의 내용만 지우기

print(mul_num)
mul_num.clear()
print(mul_num)

[4, 6, 57]
[]

In [74]:
# list 변수를 완전히 삭제
del mul_num
print(mul_num)

NameError: name 'mul_num' is not defined

## **2. 딕셔너리(dict)**
    사전을 떠올려봅시다. 사전을 구성하고 있는 항목은?
    단어 : 단어의 설명
    딕셔너리는 말 그대로 사전과 같은 형태의 데이터 구조이다.
    사전의 단어는 딕셔너리의 key
    단어의 설명은 딕셔너리의 value값이라고 칭한다. 쌍으로 저장 가능
    { } 중괄호로 묶어 사용한다.
    key : value
    딕셔너리 요소 구분은 리스트와 마찬가지로 쉼표

### 2-1. dict 생성

In [27]:
# 빈 딕셔너리 생성
wallt = {}

In [85]:
# 값을 추가하면서 딕셔너리 생성
wallet = {
    'card':'신한카드',
    'cash':75000,
    'coin':{'500원':1,
            '100원':1,},
    'id':['주민등록증', '여권'],
    'licence':'운전면허증'
}

dd = {'name' : "박지용", "job" : "아싸"}

### 2-2. dict 정보 확인

In [86]:
# dict의 구성요소 갯수 확인
len(wallet)
print(dd)

{'name': '박지용', 'job': '아싸'}

In [30]:
# dict의 key 값 확인
wallet.keys()

dict_keys(['card', 'cash', 'coin', 'id', 'licence'])

In [75]:
# dict의 value 값 확인
wallet.values()

dict_values(['신한카드', 75000, {'500원': 1, '100원': 1}, ['주민등록증', '여권'], '운전면허증'])

### 2-3. dict value 값에 접근하기

In [78]:
# get 함수를 사용하여 접근
print(wallet.get('card'))
print(wallet['card'])

신한카드
신한카드

In [79]:
# key값을 바로 value값 접근에 사용
wallet['coin']

{'500원': 1, '100원': 1}

### 2-4. dict 편집

In [88]:
# update 함수를 사용하여 항목 추가
wallet.update({'card' : '국민카드'})
print(wallet)

{'card': '국민카드', 'cash': 75000, 'coin': {'500원': 1, '100원': 1}, 'id': ['주민등록증', '여권'], 'licence': '운전면허증'}

In [91]:
# wallet dict에 point card key를 갖는 해피포인트 값을 저장
wallet['point card'] = '해피포인트'
print(wallet)

{'card': '국민카드', 'cash': 75000, 'coin': {'500원': 1, '100원': 1}, 'id': ['주민등록증', '여권'], 'licence': '운전면허증', 'point card': '해피포인트'}

In [94]:
# dict 특정 항목 업데이트
wallet.update({'licence' : '주민등록증'})
print(wallet)

{'card': '국민카드', 'cash': 75000, 'coin': {'500원': 1, '100원': 1}, 'id': ['주민등록증', '여권'], 'licence': '주민등록증', 'point card': '해피포인트', 'license': '주민등록증'}

In [95]:
# dict의 특정 value값 빼오기
wallet['coin']

{'500원': 1, '100원': 1}

### 2-5. dict 삭제

In [96]:
# dict 항목 제거
wallet.clear()
print(wallet)

{}

In [39]:
# dict 전체 삭제
del wallet

## **3. 튜플(tuple)**
    데이터가 고정이 되어 변경이 불가능 한 데이터 집합
    자료구조로는 잘 사용하지 않는다.
    ( ) 소괄호로 묶어 사용한다.
    구분은 , 콤마로 사용한다.

### 3-1. tuple 생성

In [40]:
test_tuple = () # 의미가 모호해서 잘 사용하지 않는다.
test_tuple = tuple()
test_tuple = 1, 2, 3, 4

### 3-2. tuple 인덱싱

In [41]:
test_tuple[0]

1

### 3-3. tuple 업데이트 (안됨)

In [42]:
test_tuple[0] = 0

TypeError: 'tuple' object does not support item assignment

### 3-4. tuple 값 추가

In [ ]:
test_tuple + (7, )

(1, 2, 3, 4, 7)