In [1]:
import win32com.client
import time
import os
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

In [3]:
stock_data = pd.read_csv("./data/삼성전자_5분봉.csv", header=None, names=['종목명', '종목코드', '날짜', '시간', '시가', '고가', '저가', '종가','거래량'], encoding="CP949")

stock_data['ema12'] = stock_data['시가'].ewm(span=12).mean()
stock_data['ema26'] = stock_data['시가'].ewm(span=26).mean()
stock_data['macd_signal'] = stock_data['시가'].ewm(span=9).mean()
stock_data['macd'] = stock_data['ema12'] - stock_data['ema26']

stock_data

,종목명,종목코드,날짜,시간,시가,고가,저가,종가,거래량,ema12,ema26,macd_signal,macd
0,삼성전자,A005930,20210201,1530,83000,83000,83000,83000,1199990,83000.000000,83000.000000,83000.000000,0.000000
1,삼성전자,A005930,20210201,1520,82900,83000,82800,83000,372290,82945.833333,82948.076923,82944.444444,-2.243590
2,삼성전자,A005930,20210201,1515,82700,82900,82600,82900,340320,82849.884527,82858.945293,82844.262295,-9.060767
3,삼성전자,A005930,20210201,1510,82500,82700,82500,82600,248129,82739.439655,82758.599875,82727.642276,-19.160220
4,삼성전자,A005930,20210201,1505,82700,82700,82500,82500,216360,82728.724042,82745.010322,82719.419324,-16.286280
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1600,삼성전자,A005930,20210104,1025,80600,81000,80500,80900,502960,81396.191933,82075.943590,81180.338818,-679.751657
1601,삼성전자,A005930,20210104,1020,80800,80900,80500,80600,1209601,81304.470097,81981.429250,81104.271055,-676.959153
1602,삼성전자,A005930,20210104,1015,81400,81500,80800,80900,1510256,81319.167006,81938.360417,81163.416844,-619.193411
1603,삼성전자,A005930,20210104,1010,80400,81500,80400,81400,1721861,81177.756697,81824.407793,81010.733475,-646.651096
1604,삼성전자,A005930,20210104,1005,81000,81100,80200,80500,4116230,81150.409513,81763.340549,81008.586780,-612.931036