In [1]:
!pip install requests
!pip install BeautifulSoup4

Requirement already satisfied: requests in c:\users\user\.conda\envs\kw_vip\lib\site-packages (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\user\.conda\envs\kw_vip\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\user\.conda\envs\kw_vip\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\.conda\envs\kw_vip\lib\site-packages (from requests) (1.26.6)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\.conda\envs\kw_vip\lib\site-packages (from requests) (2021.5.30)
Requirement already satisfied: BeautifulSoup4 in c:\users\user\.conda\envs\kw_vip\lib\site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\.conda\envs\kw_vip\lib\site-packages (from BeautifulSoup4) (2.2.1)

In [56]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time
import json
import re

In [107]:
page=20 # 페이지당 10일의 주식 정보 저장
list=[]
list_date=[]

In [108]:
for j in range(1,page+1):
    
    seed = np.random.randint(100)
    np.random.seed(seed)
    a = np.random.randint(5)
    time.sleep(a)
    
    url = f'ㅠ'
    header = {
    'referer' : 'https://finance.naver.com/item/sise_day.nhn?code=035720&page=2',
    'user-agent' : 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.96 Safari/537.36'
                }
    response = requests.get(url, headers=header)
    html = BeautifulSoup(response.text, 'html.parser')
    for i in range(10):
        print(html.select('span.tah.p10')[i].text)
        print(html.select('span.tah.p11')[i*6].text)
        money=html.select('span.tah.p11')[i*6].text.replace(',','')
        list.append([html.select('span.tah.p10')[i].text,money])

2021.07.15
159,500
2021.07.14
162,000
2021.07.13
161,000
2021.07.12
162,000
2021.07.09
160,500
2021.07.08
163,000
2021.07.07
161,000
2021.07.06
157,500
2021.07.05
157,000
2021.07.02
159,500
2021.07.01
160,000
2021.06.30
163,000
2021.06.29
158,000
2021.06.28
155,000
2021.06.25
154,500
2021.06.24
157,000
2021.06.23
169,500
2021.06.22
159,000
2021.06.21
155,000
2021.06.18
155,000
2021.06.17
148,000
2021.06.16
143,000
2021.06.15
144,500
2021.06.14
142,500
2021.06.11
135,500
2021.06.10
133,500
2021.06.09
129,000
2021.06.08
128,500
2021.06.07
126,000
2021.06.04
124,000
2021.06.03
126,500
2021.06.02
127,000
2021.06.01
127,000
2021.05.31
123,000
2021.05.28
122,000
2021.05.27
125,000
2021.05.26
119,500
2021.05.25
118,000
2021.05.24
116,500
2021.05.21
117,000
2021.05.20
113,500
2021.05.18
113,000
2021.05.17
110,500
2021.05.14
109,000
2021.05.13
109,500
2021.05.12
113,000
2021.05.11
114,500
2021.05.10
116,000
2021.05.07
114,500
2021.05.06
115,000
2021.05.04
115,500
2021.05.03
114,500
2021.04.30
113,500
2021.04.29
117,000
2021.04.28
119,500
2021.04.27
121,500
2021.04.26
118,000
2021.04.23
117,500
2021.04.22
117,500
2021.04.21
118,000
2021.04.20
119,500
2021.04.19
119,000
2021.04.16
119,000
2021.04.15
120,500
2021.04.14
558,000
2021.04.13
558,000
2021.04.12
558,000
2021.04.09
558,000
2021.04.08
548,000
2021.04.07
542,000
2021.04.06
544,000
2021.04.05
502,000
2021.04.02
501,000
2021.04.01
499,000
2021.03.31
498,000
2021.03.30
493,500
2021.03.29
487,500
2021.03.26
495,000
2021.03.25
485,000
2021.03.24
492,000
2021.03.23
490,500
2021.03.22
494,000
2021.03.19
492,500
2021.03.18
498,000
2021.03.17
485,000
2021.03.16
479,000
2021.03.15
479,000
2021.03.12
481,000
2021.03.11
479,000
2021.03.10
460,000
2021.03.09
441,000
2021.03.08
454,000
2021.03.05
471,000
2021.03.04
482,000
2021.03.03
493,500
2021.03.02
491,500
2021.02.26
488,000
2021.02.25
484,500
2021.02.24
473,500
2021.02.23
487,000
2021.02.22
490,500
2021.02.19
504,000
2021.02.18
501,000
2021.02.17
509,000
2021.02.16
514,000
2021.02.15
502,000
2021.02.10
489,500
2021.02.09
461,000
2021.02.08
457,000
2021.02.05
455,000
2021.02.04
454,500
2021.02.03
462,000
2021.02.02
445,500
2021.02.01
441,500
2021.01.29
441,000
2021.01.28
458,000
2021.01.27
465,000
2021.01.26
461,000
2021.01.25
473,500
2021.01.22
463,000
2021.01.21
454,000
2021.01.20
444,000
2021.01.19
440,000
2021.01.18
427,500
2021.01.15
437,500
2021.01.14
451,500
2021.01.13
454,500
2021.01.12
457,500
2021.01.11
453,000
2021.01.08
434,000
2021.01.07
402,500
2021.01.06
395,500
2021.01.05
393,000
2021.01.04
396,000
2020.12.30
389,500
2020.12.29
384,500
2020.12.28
373,000
2020.12.24
374,000
2020.12.23
377,500
2020.12.22
376,000
2020.12.21
379,500
2020.12.18
367,000
2020.12.17
369,000
2020.12.16
372,000
2020.12.15
371,000
2020.12.14
373,500
2020.12.11
374,500
2020.12.10
370,500
2020.12.09
375,000
2020.12.08
374,500
2020.12.07
385,000
2020.12.04
389,500
2020.12.03
374,000
2020.12.02
373,000
2020.12.01
374,500
2020.11.30
368,000
2020.11.27
373,000
2020.11.26
374,000
2020.11.25
367,000
2020.11.24
373,000
2020.11.23
367,000
2020.11.20
365,500
2020.11.19
365,500
2020.11.18
365,500
2020.11.17
362,000
2020.11.16
362,000
2020.11.13
365,500
2020.11.12
357,500
2020.11.11
355,500
2020.11.10
356,000
2020.11.09
371,500
2020.11.06
370,500
2020.11.05
363,000
2020.11.04
359,500
2020.11.03
336,500
2020.11.02
334,500
2020.10.30
330,000
2020.10.29
343,000
2020.10.28
346,500
2020.10.27
334,000
2020.10.26
329,500
2020.10.23
340,000
2020.10.22
349,000
2020.10.21
353,500
2020.10.20
352,500
2020.10.19
353,000
2020.10.16
357,500
2020.10.15
362,000
2020.10.14
368,500
2020.10.13
372,000
2020.10.12
371,500
2020.10.08
379,000
2020.10.07
380,500
2020.10.06
381,500
2020.10.05
370,500
2020.09.29
364,500
2020.09.28
369,000
2020.09.25
351,500
2020.09.24
352,000
2020.09.23
365,500

In [109]:
df_name=['거래날짜','종가']
list

[['2021.07.15', '159500'],
 ['2021.07.14', '162000'],
 ['2021.07.13', '161000'],
 ['2021.07.12', '162000'],
 ['2021.07.09', '160500'],
 ['2021.07.08', '163000'],
 ['2021.07.07', '161000'],
 ['2021.07.06', '157500'],
 ['2021.07.05', '157000'],
 ['2021.07.02', '159500'],
 ['2021.07.01', '160000'],
 ['2021.06.30', '163000'],
 ['2021.06.29', '158000'],
 ['2021.06.28', '155000'],
 ['2021.06.25', '154500'],
 ['2021.06.24', '157000'],
 ['2021.06.23', '169500'],
 ['2021.06.22', '159000'],
 ['2021.06.21', '155000'],
 ['2021.06.18', '155000'],
 ['2021.06.17', '148000'],
 ['2021.06.16', '143000'],
 ['2021.06.15', '144500'],
 ['2021.06.14', '142500'],
 ['2021.06.11', '135500'],
 ['2021.06.10', '133500'],
 ['2021.06.09', '129000'],
 ['2021.06.08', '128500'],
 ['2021.06.07', '126000'],
 ['2021.06.04', '124000'],
 ['2021.06.03', '126500'],
 ['2021.06.02', '127000'],
 ['2021.06.01', '127000'],
 ['2021.05.31', '123000'],
 ['2021.05.28', '122000'],
 ['2021.05.27', '125000'],
 ['2021.05.26', '119500'],
 ['2021.05.25', '118000'],
 ['2021.05.24', '116500'],
 ['2021.05.21', '117000'],
 ['2021.05.20', '113500'],
 ['2021.05.18', '113000'],
 ['2021.05.17', '110500'],
 ['2021.05.14', '109000'],
 ['2021.05.13', '109500'],
 ['2021.05.12', '113000'],
 ['2021.05.11', '114500'],
 ['2021.05.10', '116000'],
 ['2021.05.07', '114500'],
 ['2021.05.06', '115000'],
 ['2021.05.04', '115500'],
 ['2021.05.03', '114500'],
 ['2021.04.30', '113500'],
 ['2021.04.29', '117000'],
 ['2021.04.28', '119500'],
 ['2021.04.27', '121500'],
 ['2021.04.26', '118000'],
 ['2021.04.23', '117500'],
 ['2021.04.22', '117500'],
 ['2021.04.21', '118000'],
 ['2021.04.20', '119500'],
 ['2021.04.19', '119000'],
 ['2021.04.16', '119000'],
 ['2021.04.15', '120500'],
 ['2021.04.14', '558000'],
 ['2021.04.13', '558000'],
 ['2021.04.12', '558000'],
 ['2021.04.09', '558000'],
 ['2021.04.08', '548000'],
 ['2021.04.07', '542000'],
 ['2021.04.06', '544000'],
 ['2021.04.05', '502000'],
 ['2021.04.02', '501000'],
 ['2021.04.01', '499000'],
 ['2021.03.31', '498000'],
 ['2021.03.30', '493500'],
 ['2021.03.29', '487500'],
 ['2021.03.26', '495000'],
 ['2021.03.25', '485000'],
 ['2021.03.24', '492000'],
 ['2021.03.23', '490500'],
 ['2021.03.22', '494000'],
 ['2021.03.19', '492500'],
 ['2021.03.18', '498000'],
 ['2021.03.17', '485000'],
 ['2021.03.16', '479000'],
 ['2021.03.15', '479000'],
 ['2021.03.12', '481000'],
 ['2021.03.11', '479000'],
 ['2021.03.10', '460000'],
 ['2021.03.09', '441000'],
 ['2021.03.08', '454000'],
 ['2021.03.05', '471000'],
 ['2021.03.04', '482000'],
 ['2021.03.03', '493500'],
 ['2021.03.02', '491500'],
 ['2021.02.26', '488000'],
 ['2021.02.25', '484500'],
 ['2021.02.24', '473500'],
 ['2021.02.23', '487000'],
 ['2021.02.22', '490500'],
 ['2021.02.19', '504000'],
 ['2021.02.18', '501000'],
 ['2021.02.17', '509000'],
 ['2021.02.16', '514000'],
 ['2021.02.15', '502000'],
 ['2021.02.10', '489500'],
 ['2021.02.09', '461000'],
 ['2021.02.08', '457000'],
 ['2021.02.05', '455000'],
 ['2021.02.04', '454500'],
 ['2021.02.03', '462000'],
 ['2021.02.02', '445500'],
 ['2021.02.01', '441500'],
 ['2021.01.29', '441000'],
 ['2021.01.28', '458000'],
 ['2021.01.27', '465000'],
 ['2021.01.26', '461000'],
 ['2021.01.25', '473500'],
 ['2021.01.22', '463000'],
 ['2021.01.21', '454000'],
 ['2021.01.20', '444000'],
 ['2021.01.19', '440000'],
 ['2021.01.18', '427500'],
 ['2021.01.15', '437500'],
 ['2021.01.14', '451500'],
 ['2021.01.13', '454500'],
 ['2021.01.12', '457500'],
 ['2021.01.11', '453000'],
 ['2021.01.08', '434000'],
 ['2021.01.07', '402500'],
 ['2021.01.06', '395500'],
 ['2021.01.05', '393000'],
 ['2021.01.04', '396000'],
 ['2020.12.30', '389500'],
 ['2020.12.29', '384500'],
 ['2020.12.28', '373000'],
 ['2020.12.24', '374000'],
 ['2020.12.23', '377500'],
 ['2020.12.22', '376000'],
 ['2020.12.21', '379500'],
 ['2020.12.18', '367000'],
 ['2020.12.17', '369000'],
 ['2020.12.16', '372000'],
 ['2020.12.15', '371000'],
 ['2020.12.14', '373500'],
 ['2020.12.11', '374500'],
 ['2020.12.10', '370500'],
 ['2020.12.09', '375000'],
 ['2020.12.08', '374500'],
 ['2020.12.07', '385000'],
 ['2020.12.04', '389500'],
 ['2020.12.03', '374000'],
 ['2020.12.02', '373000'],
 ['2020.12.01', '374500'],
 ['2020.11.30', '368000'],
 ['2020.11.27', '373000'],
 ['2020.11.26', '374000'],
 ['2020.11.25', '367000'],
 ['2020.11.24', '373000'],
 ['2020.11.23', '367000'],
 ['2020.11.20', '365500'],
 ['2020.11.19', '365500'],
 ['2020.11.18', '365500'],
 ['2020.11.17', '362000'],
 ['2020.11.16', '362000'],
 ['2020.11.13', '365500'],
 ['2020.11.12', '357500'],
 ['2020.11.11', '355500'],
 ['2020.11.10', '356000'],
 ['2020.11.09', '371500'],
 ['2020.11.06', '370500'],
 ['2020.11.05', '363000'],
 ['2020.11.04', '359500'],
 ['2020.11.03', '336500'],
 ['2020.11.02', '334500'],
 ['2020.10.30', '330000'],
 ['2020.10.29', '343000'],
 ['2020.10.28', '346500'],
 ['2020.10.27', '334000'],
 ['2020.10.26', '329500'],
 ['2020.10.23', '340000'],
 ['2020.10.22', '349000'],
 ['2020.10.21', '353500'],
 ['2020.10.20', '352500'],
 ['2020.10.19', '353000'],
 ['2020.10.16', '357500'],
 ['2020.10.15', '362000'],
 ['2020.10.14', '368500'],
 ['2020.10.13', '372000'],
 ['2020.10.12', '371500'],
 ['2020.10.08', '379000'],
 ['2020.10.07', '380500'],
 ['2020.10.06', '381500'],
 ['2020.10.05', '370500'],
 ['2020.09.29', '364500'],
 ['2020.09.28', '369000'],
 ['2020.09.25', '351500'],
 ['2020.09.24', '352000'],
 ['2020.09.23', '365500']]

In [110]:
df=pd.DataFrame(list,columns=df_name)
df

           거래날짜      종가
0    2021.07.15  159500
1    2021.07.14  162000
2    2021.07.13  161000
3    2021.07.12  162000
4    2021.07.09  160500
..          ...     ...
195  2020.09.29  364500
196  2020.09.28  369000
197  2020.09.25  351500
198  2020.09.24  352000
199  2020.09.23  365500

[200 rows x 2 columns]

In [112]:
df['이동평균_12일']=0
df['이동평균_26일']=0
df

           거래날짜      종가  이동평균_12일  이동평균_26일
0    2021.07.15  159500         0         0
1    2021.07.14  162000         0         0
2    2021.07.13  161000         0         0
3    2021.07.12  162000         0         0
4    2021.07.09  160500         0         0
..          ...     ...       ...       ...
195  2020.09.29  364500         0         0
196  2020.09.28  369000         0         0
197  2020.09.25  351500         0         0
198  2020.09.24  352000         0         0
199  2020.09.23  365500         0         0

[200 rows x 4 columns]

In [113]:
#12일 단위 이동평균
sum_12=0
for i in range(len(df)-26):
    for j in range(12):
        sum_12=sum_12+int(df.iloc[i+j,1])
    df.iloc[i,2]=sum_12/12
    sum_12=0

In [114]:
#26일 단위 이동평균
sum_26=0
for i in range(len(df)-26):
    for j in range(26):
        sum_26=sum_26+int(df.iloc[i+j,1])
    df.iloc[i,3]=sum_26/26
    sum_26=0

In [115]:
df

           거래날짜      종가       이동평균_12일       이동평균_26일
0    2021.07.15  159500  160500.000000  155230.769231
1    2021.07.14  162000  160375.000000  154057.692308
2    2021.07.13  161000  159791.666667  152769.230769
3    2021.07.12  162000  159250.000000  151423.076923
4    2021.07.09  160500  158833.333333  149961.538462
..          ...     ...            ...            ...
195  2020.09.29  364500       0.000000       0.000000
196  2020.09.28  369000       0.000000       0.000000
197  2020.09.25  351500       0.000000       0.000000
198  2020.09.24  352000       0.000000       0.000000
199  2020.09.23  365500       0.000000       0.000000

[200 rows x 4 columns]

In [116]:
df['MACD']=df['이동평균_12일']-df['이동평균_26일']
df

           거래날짜      종가       이동평균_12일       이동평균_26일         MACD
0    2021.07.15  159500  160500.000000  155230.769231  5269.230769
1    2021.07.14  162000  160375.000000  154057.692308  6317.307692
2    2021.07.13  161000  159791.666667  152769.230769  7022.435897
3    2021.07.12  162000  159250.000000  151423.076923  7826.923077
4    2021.07.09  160500  158833.333333  149961.538462  8871.794872
..          ...     ...            ...            ...          ...
195  2020.09.29  364500       0.000000       0.000000     0.000000
196  2020.09.28  369000       0.000000       0.000000     0.000000
197  2020.09.25  351500       0.000000       0.000000     0.000000
198  2020.09.24  352000       0.000000       0.000000     0.000000
199  2020.09.23  365500       0.000000       0.000000     0.000000

[200 rows x 5 columns]

In [119]:
df['시그널']=0
df

           거래날짜      종가       이동평균_12일       이동평균_26일         MACD  시그널
0    2021.07.15  159500  160500.000000  155230.769231  5269.230769    0
1    2021.07.14  162000  160375.000000  154057.692308  6317.307692    0
2    2021.07.13  161000  159791.666667  152769.230769  7022.435897    0
3    2021.07.12  162000  159250.000000  151423.076923  7826.923077    0
4    2021.07.09  160500  158833.333333  149961.538462  8871.794872    0
..          ...     ...            ...            ...          ...  ...
195  2020.09.29  364500       0.000000       0.000000     0.000000    0
196  2020.09.28  369000       0.000000       0.000000     0.000000    0
197  2020.09.25  351500       0.000000       0.000000     0.000000    0
198  2020.09.24  352000       0.000000       0.000000     0.000000    0
199  2020.09.23  365500       0.000000       0.000000     0.000000    0

[200 rows x 6 columns]

In [143]:
sum_sg=0
for i in range(len(df)-26):
    for j in range(9):
        sum_sg=sum_sg+int(df.iloc[i+j,4])
    df.iloc[i,5]=sum_sg/9
    sum_sg=0

In [126]:
df['오실레이터']=df['MACD']-df['시그널']

In [144]:
df

,거래날짜,종가,이동평균_12일,이동평균_26일,MACD,시그널,오실레이터
0,2021.07.15,159500,160500.000000,155230.769231,5269.230769,9434.333333,-4165.102564
1,2021.07.14,162000,160375.000000,154057.692308,6317.307692,10460.333333,-4143.025641
2,2021.07.13,161000,159791.666667,152769.230769,7022.435897,11364.555556,-4342.119658
3,2021.07.12,162000,159250.000000,151423.076923,7826.923077,12220.000000,-4393.076923
4,2021.07.09,160500,158833.333333,149961.538462,8871.794872,12988.555556,-4116.760684
...,...,...,...,...,...,...,...
195,2020.09.29,364500,0.000000,0.000000,0.000000,0.000000,0.000000
196,2020.09.28,369000,0.000000,0.000000,0.000000,0.000000,0.000000
197,2020.09.25,351500,0.000000,0.000000,0.000000,0.000000,0.000000
198,2020.09.24,352000,0.000000,0.000000,0.000000,0.000000,0.000000
199,2020.09.23,365500,0.000000,0.000000,0.000000,0.000000,0.000000

In [149]:
df.iloc[60:100]

,거래날짜,종가,이동평균_12일,이동평균_26일,MACD,시그널,오실레이터
60,2021.04.20,119500,403833.333333,451384.615385,-47551.282051,2134.333333,-49685.615385
61,2021.04.19,119000,435625.000000,465211.538462,-29586.538462,8893.888889,-38480.427350
62,2021.04.16,119000,467291.666667,479134.615385,-11842.948718,13428.666667,-25271.615385
63,2021.04.15,120500,498875.000000,492980.769231,5894.230769,15754.333333,-9860.102564
64,2021.04.14,558000,529958.333333,506038.461538,23919.871795,16147.111111,7772.760684
65,2021.04.13,558000,524083.333333,501538.461538,22544.871795,14506.444444,8038.427350
66,2021.04.12,558000,518833.333333,497538.461538,21294.871795,12884.666667,8410.205128
67,2021.04.09,558000,512750.000000,494192.307692,18557.692308,11257.888889,7299.803419
68,2021.04.08,548000,507250.000000,491269.230769,15980.769231,9774.666667,6206.102564
69,2021.04.07,542000,502458.333333,489173.076923,13285.256410,8441.333333,4843.923077
70,2021.04.06,544000,498458.333333,487230.769231,11227.564103,7023.555556,4204.008547
71,2021.04.05,502000,494166.666667,485076.923077,9089.743590,5303.222222,3786.521368
72,2021.04.02,501000,493833.333333,484403.846154,9429.487179,3425.888889,6003.598291
73,2021.04.01,499000,492500.000000,483346.153846,9153.846154,1334.444444,7819.401709
74,2021.03.31,498000,490833.333333,482884.615385,7948.717949,-696.444444,8645.162393
75,2021.03.30,493500,489250.000000,482596.153846,6653.846154,-2432.444444,9086.290598
76,2021.03.29,487500,488208.333333,483000.000000,5208.333333,-3901.000000,9109.333333
77,2021.03.26,495000,487500.000000,483519.230769,3980.769231,-5050.888889,9031.658120
78,2021.03.25,485000,484583.333333,484057.692308,525.641026,-5940.666667,6466.307692
79,2021.03.24,492000,480916.666667,485173.076923,-4256.410256,-6354.333333,2097.923077
80,2021.03.23,490500,477750.000000,485557.692308,-7807.692308,-6012.444444,-1795.247863
81,2021.03.22,494000,476125.000000,485519.230769,-9394.230769,-5007.222222,-4387.008547
82,2021.03.19,492500,475125.000000,484250.000000,-9125.000000,-3409.777778,-5715.222222
83,2021.03.18,498000,475208.333333,482884.615385,-7676.282051,-1389.222222,-6287.059829
84,2021.03.17,485000,474666.666667,481230.769231,-6564.102564,949.777778,-7513.880342
85,2021.03.16,479000,474916.666667,480057.692308,-5141.025641,3552.666667,-8693.692308
86,2021.03.15,479000,475375.000000,479403.846154,-4028.846154,6263.777778,-10292.623932
87,2021.03.12,481000,474916.666667,478115.384615,-3198.717949,8983.000000,-12181.717949
88,2021.03.11,479000,475416.666667,476596.153846,-1179.487179,11530.555556,-12710.042735
89,2021.03.10,460000,476375.000000,475134.615385,1240.384615,13771.888889,-12531.504274
90,2021.03.09,441000,480041.666667,475057.692308,4983.974359,15714.888889,-10730.914530
91,2021.03.08,454000,485041.666667,475980.769231,9060.897436,17219.888889,-8158.991453
92,2021.03.05,471000,489625.000000,476250.000000,13375.000000,18192.111111,-4817.111111
93,2021.03.04,482000,493208.333333,476346.153846,16862.179487,18422.111111,-1559.931624
94,2021.03.03,493500,494875.000000,475615.384615,19259.615385,17884.666667,1374.948718
95,2021.03.02,491500,494541.666667,474096.153846,20445.512821,16730.444444,3715.068376
96,2021.02.26,488000,492000.000000,472269.230769,19730.769231,15292.777778,4437.991453
97,2021.02.25,484500,489416.666667,470423.076923,18993.589744,13957.333333,5036.256410
98,2021.02.24,473500,486958.333333,468230.769231,18727.564103,12779.333333,5948.230769
99,2021.02.23,487000,485375.000000,466846.153846,18528.846154,11895.111111,6633.735043